* {
  margin: 0;
  padding: 0;
}
.box {
  height: 200px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  background: #f00;
}
@media (min-width: 1000px) {
  .box {
    background: #00f;
  }
}
@media (max-width: 575.98px) {
  .box {
    background: #ff0;
  }
}
@media (min-width: 200px) and (max-width: 499.98px) {
  .box {
    border: 20px solid #008000;
  }
}
