@import 'mixins/breakpoints.styl'

*
	margin 0
	padding 0

.box
	height 200px
	width 100%
	display block
	box-sizing border-box
	background red

	+above(1000, true)
		background blue

	+below(sm)
		background yellow

	+between(200, 500, true)
		border 20px solid green
